<div class="container-fluid">
  <div class="forms row mb-3 d-flex justify-content-center">
    <app-form-provider
      class="form-host width-responsive min-width-form mb-4"
      [edit]="edit.provider"
      [provider]="provider"
      (providerEmiter)="setProvider($event)"
      >
      <input *ngIf="edit.provider" class="btn btn-danger" (click)="editProvider('confirm', 0)" type="submit" value="Editar">
      <button
        class="btn btn-warning"
        (click)="resetForm('provider'); edit.provider = false"
      >
      Cancelar
    </button></app-form-provider
    >
    <app-form-product
      class="form-host width-responsive min-width-form"
      [edit]="edit.product"
      [product]="product"
      [providers]="providers"
      (productEmiter)="setProduct($event)"
    >
    <input *ngIf="edit.product" class="btn btn-danger" (click)="editProduct('confirm', 0)" type="submit" value="Editar">
      <button
        class="btn btn-warning"
        (click)="resetForm('product'); edit.product= false"
      >
        Cancelar
      </button>
      </app-form-product
    >
  </div>
  <div class="d-flex justify-content-center flex-wrap row">
    <div class="width-responsive min-width-table col-4 table-container mb-4">
      <table class="w-100 table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Endereço</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let provider of providers; index as i">
            <td>{{ provider.name }}</td>
            <td>
              {{ provider.address }}({{ provider.district }}),
              {{ provider.city }}, {{ provider.state }}
            </td>
            <td class="d-flex justify-content-center">
              <button (click)="editProvider('edit', i)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-pencil-square"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                  />
                </svg>
              </button>
              <button (click)="deleteProvider(i)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-trash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                  />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="width-responsive min-width-table col-10 table-container">
      <table class="w-100 table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Preço</th>
            <th scope="col">Tipo</th>
            <th scope="col">Descrição</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Telefone</th>
            <th scope="col">Data</th>
            <th scope="col">Provedor</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products; index as i">
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.type }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.amount }}</td>
            <td>{{ product.phone }}</td>
            <td>{{ product.date }}</td>
            <td>{{ providers[product.provider].name }}</td>
            <td>
              <button (click)="editProduct('edit', i)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-pencil-square"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                  />
                </svg>
              </button>
              <button (click)="deleteProduct(i)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-trash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                  />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <app-input-output-graphic *ngIf="products.length" class="chart-container"></app-input-output-graphic>
    <app-amount-graphic *ngIf="products.length" class="chart-container"></app-amount-graphic>
    <app-provider-graphics *ngIf="providers.length" class="chart-container"></app-provider-graphics>
  </div>
</div>
