div{
    margin-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 1rem solid red;
    img {
        height: 5rem;
    }
}